@import "tailwindcss";


:root {
  --primary: #E5121D;
  --black: #000000;
  --white: #FAFAFA;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  transition: 0.2s ease;
}